@import '../../base/variables';
@import '../../base/mixins';

.home-section {
  @include size(100%, calc(100vh - 80px));
  background-color: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .display1 {
    color: $watermelon;
  }

  @include breakpoint(tablet) {

  }
}