@import '../../base/variables';
@import '../../base/mixins';

.home-section {
  @include size(100%, calc(100vh - 100px));
  background-color: $white;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include breakpoint(tablet) {
    
  }
}